# Code Owner For 42       Still Me        Still Me GitHub Learning Lab Course Creators New Creator of New Version of Course
* @JavascriptLearner815 @LordOfCats4080 @Example360 @hollenberry @crichID @brianamarie @yhkee0404
