<head>
<!-- Default head tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="My first site. I'm a nerd. Also, please, PLEASE tell me you're not a dumb idiot that can't socially interact!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!">
  <meta name="author" content="Dean Alan Summer">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <title>SpeedoThreeSixty Blog</title>

<!-- Favicon head tag -->
<link rel="icon" href="https://javascriptlearner815.github.io/favicon.ico" type="image/x-icon">

<!-- Font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

<!-- Styling -->
  <style>
    body { font-family: "Merriweather", serif; }
    button { font-family: "Merriweather", serif; }
    h1.post-title { /* font-family: Arial, Helvetica, "Merriweather", serif; */ color: navy; }
    h1.post-title::after { content: " » Copy and paste this into a new tab for social media: https://github.com/JavascriptLearner815/JavascriptLearner815.github.io/blob/master/_config.yml#L10"; }
  </style>
</head>
