<head>
<!-- Default head tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="My first site. I'm a nerd. Also, please, PLEASE tell me you're not a dumb idiot that can't socially interact!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <title>SpeedoThreeSixty Blog</title>

<!-- Favicon head tag -->
<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
