:root {
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 2.5s;
  --typewriterCharacters: 23;
  --typewriterBlink: 750ms;
  --typewriterDelay: 3s;
  --subtitleDelay: 1s;
  --subtitleSpeed: 2s;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--bg-color);
}

.typewriter {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  display: grid;
  place-content: center;
  text-align: center;
}

.typewriter::before,
.typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typewriter::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) var(--typewriterDelay) forwards;
}

.typewriter::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) var(--typewriterDelay) forwards,
    blink var(--typewriterBlink) steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp var(--subtitleSpeed) ease calc(var(--typewriterSpeed) + var(--typewriterDelay) + var(--subtitleDelay)) forwards;
  display: grid;
  place-content: center;
  text-align: center;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

*, *::before, *::after {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: "Gotham Rounded";
	src: url("https://javascriptlearner815.github.io/GothamRounded-Bold.woff2") format("woff2"),
		url("https://javascriptlearner815.github.io/GothamRounded-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Gotham Rounded";
	src: url("https://javascriptlearner815.github.io/GothamRounded-Light.woff2") format("woff2"),
		url("https://javascriptlearner815.github.io/GothamRounded-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gotham Rounded";
	src: url("https://javascriptlearner815.github.io/GothamRounded-Book.woff2") format("woff2"),
		url("https://javascriptlearner815.github.io/GothamRounded-Book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

::-moz-selection {
  color: inherit;
  background: orchid;
}
::-webkit-selection {
  color: inherit;
  background: orchid;
}
::-o-selection {
  color: inherit;
  background: orchid;
}
::-ms-selection {
  color: inherit;
  background: orchid;
}
::selection {
  color: inherit;
  background: orchid;
}

header {
  background-color: #333;
  color: white;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

iframe {
  width: 300px;
  height: 300px;
  resize: both;
  overflow: auto;
  overflow-x: auto;
}














/* Background Styles Only */

* {
    font-family: "Gotham Rounded", Arial, Helvetica, sans-serif;
}

html {
    background-color: #DFDFDF;
}

.side-links {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-youtube {
  background-color: red;
}

.side-link-twitter {
  background-color: #1DA1F2;
}

.side-link-github {
  background-color: #6e5494;
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

.side-link-icon {
  color: white;
  font-size: 30px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-left: 100px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #2980b9;
  color: white;
}

.flip-card-back {
  background-color: #005681;
  color: white;
  transform: rotateY(180deg);
}
